<div class="container">
    <div class="row">
        <div class="col-sm-9 col-lg-7 mt-3">
            <p class="fs-3 ">Contáctame</p>
            <hr>
            <p><i class="bi bi-envelope pe-1"></i><a class="text-white"
                    href="mailto:josehdzibarra@hotmail.com">josehdzibarra@hotmail.com</a></p>
            <p><i class="bi bi-github"></i> <a href="https://github.com/codejogy" class="text-white">GitHub</a></p>
            <p><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/heib-jose-de-jesus/"
                    class="text-white">LinkedIn</a></p>
        </div>
        <div class="col mt-3">
            <p class="fs-3">Sitio web</p>
            <hr>
            <p class=""><a class="text-white" href="/index.html">Home</a></p>
            <p class=""><a class="text-white" href="/sabermas/sabermas.html">Saber más</a></p>
            <p class=""><a class="text-white" href="/static/cv/CV Jose de Jesus Hernandez Ibarra 19-05-25.pdf">CV</a>
            </p>
        </div>
    </div>
    <div class="text-center mt-3">
        <small>&copy; <span id="year"></span> José Hernández
        </small>
    </div>
</div>
