<div class="container">
    <div class="row">
        <div class="col mt-4">
            <p class="fs-3 ">Contactame</p>
            <p>Email: <a class="link-opacity-100 link-primary"
                    href="mailto:josehdzibarra@hotmail.com">josehdzibarra@hotmail.com</a></p>
            <p><a class=" link-primary" href="https://github.com/codejogy">GitHub</a></p>
            <a class=" link-primary" href="https://www.linkedin.com/in/heib-jose-de-jesus/">LinkedIn</a>
        </div>
        <div class="col fs-3 mt-2">
            <p class="fs-3">Sitio web</p>
            <p class="fs-5"><a class="link-primary" href="/index.html">Home</a></p>
            <p class="fs-5"><a class="link-primary" href="/sabermas/sabermas.html">Saber más</a></p>
            <p class="fs-5"><a class="link-primary"
                    href="/static/cv/CV Jose de Jesus Hernandez Ibarra 19-05-25.pdf">CV</a></p>
        </div>
    </div>
</div>
