.slide1_experiencias {
	background-image: linear-gradient(45deg, #061a32, #000000);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 4rem;
	/*padding-bottom: 1rem;*/
	min-height: 100vh;
}

.round {
	border-radius: 1rem;
}


/*1024px en adelante*/
.img-fluid-half {
	max-width: 50%;
	height: auto;

}

/* 0px a 768px */
@media (max-width:768px) {
	.img-fluid-half {
		max-width: 100%;
	}

}

/* 768px a 1024*/
@media (min-width:768px) and (max-width:1024px) {
	.img-fluid-half {
		max-width: 70%;
	}

}
