.slide1_experiencias {
	background-image: linear-gradient(45deg, #061a32, #000000);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 4rem;
	/*padding-bottom: 1rem;*/
	min-height: 100vh;
}

.slide1_experiencias_sv {
	background-image: linear-gradient(45deg, #260d49, #290303);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 4rem;
	/*padding-bottom: 1rem;*/
	min-height: 100vh;
}

.slide1_experiencias_kaizen {
	background-image: linear-gradient(45deg, #0d4944, #000000);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 4rem;
	/*padding-bottom: 1rem;*/
	min-height: 100vh;
}

.round {
	border-radius: 1rem;
}


/*1024px en adelante*/
.img-fluid-half {
	max-width: 50%;
	height: auto;

}

/* 0px a 768px */
@media (max-width:768px) {
	.img-fluid-half {
		max-width: 100%;
	}

}

/* 768px a 1024*/
@media (min-width:768px) and (max-width:1024px) {
	.img-fluid-half {
		max-width: 70%;
	}

}

.intersection {
	animation-name: slideright;
	/*animation-duration: 3s;*/
	animation-timeline: view();
	/*animation-delay: 1s;*/
}

@keyframes slideright {
	0% {
		transform: translateX(-1rem);
	}

	30% {
		transform: translateX(0px);
	}
}

.opacityChange {
	animation-name: opacityChange;
	animation-timeline: view();

}

@keyframes opacityChange {
	0% {
		opacity: 0%;
		transform: translateX(-1rem);

	}

	50% {
		opacity: 100%;
		transform: translateX(0px);
	}
}

.scaleChange {
	animation-name: scaleChange;
	animation-timeline: view();
}

@keyframes scaleChange {
	0% {
		opacity: 0;
		clip-path: inset(50%);
	}

	30% {
		opacity: 1;
		clip-path: inset(0%);
		border-radius: 1rem;
	}
}

.slideAnimation li {
	animation-name: slideChange;
	animation-timeline: view();
}

@keyframes slideChange {
	0% {
		opacity: 0;
		/*transform: translateX(-4rem);*/
	}

	40% {
		opacity: 1;
		/*transform: translateX(-4rem);*/
	}
}
