/*Paleta de colores {*/
/*	#1a1f1e (negro) #6cbdb5 (azul verde) #93ccc6 (azul más azul) #c8d6bf (khaki blanco) #e3dfba (khaki)*/
/*}*/

img {
	z-index: 0;
}

body {
	background-color: #121212;
	color: #c8d6bf;
	font-family: Roboto, Verdana, Tahoma, Geneva, sans-serif;
}

a:link {
	color: black;
}

.redesIcons {
	margin-top: 5.5rem;
}


.redesIcons>a {
	animation-name: inverting;
	animation-duration: 3s;
	filter: invert(100%);
}

@keyframes inverting {
	from {
		filter: invert(0%)
	}

	to {
		filter: invert(100%)
	}
}

.nav-link:active,
.nav-link:focus,
.navbar-brand:focus {
	color: #0a74db;
}

.nav-link:hover,
.navbar-brand:hover {
	color: #4d4d4d;
}

.nav-link:visited,
.navbar-brand:visited {
	color: white;
}

.nav-link:visited,
.navbar-brand:visited,
.nav-link,
.navbar-brand {
	background-color: transparent;
	animation: changeColorText auto linear;
	animation-timeline: scroll();
}

.navbar-toggler {
	background-color: #a5a5a557;
}

@keyframes changeColorText {
	0% {
		color: white;
	}

	25% {
		color: black
	}

	100% {
		color: black;
	}
}

.navbar {
	animation-name: changeBackgroundNav;
	animation-duration: auto;
	animation-timing-function: linear;
	animation-timeline: scroll();
}


@keyframes changeBackgroundNav {
	0% {
		background-color: transparent;
	}

	25% {
		background-color: #93ccc6;
	}

	100% {
		background-color: #4C9DA7;
	}
}


.slide1 {
	min-height: 100vh;
}

.slide2 {
	min-height: 40vh;
}

.slide3 {
	min-height: calc(40vh + 10vh);
	padding-bottom: 60px;
	background-color: white;
}

.slide4 {
	min-height: 30vh;
	background-color: #1a1f1e;
}


.text-center>.row {
	text-align: center;
}

.circleIcon {
	width: 190px;
	border-radius: 50%;
	/*background-color: white;*/
	display: inline-block;
	margin-top: 5px;
}

.circleParent:hover {
	animation-name: changeColor;
	animation-duration: 2s;
	background-color: #121212;
}

@keyframes changeColor {
	from {
		background-color: white;
	}

	to {
		background-color: #121212;
	}
}

.circleParent {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: inline-block;
	background-color: transparent;
	animation-name: startingCircle;
	animation-duration: 2s;
	background-color: white;
}

@keyframes startingCircle {
	from {
		background-color: transparent;
	}

	to {
		background-color: white;
	}
}


.timeline {
	position: relative;
	/*margin: 20px auto;*/
}

.timeline::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 6px;
	top: 0;
	background-color: #1a1f1e;
	z-index: 0;
	left: 50%;
	margin-left: -3px;
}

.containerTimeline {
	position: relative;
	width: 50%;
	padding: 10px 50px;
	/*top: 50px;*/
	/*margin-right: auto;*/
	/*left: 50px;*/
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
}


.containerRight {
	position: absolute;
	width: 40%;
	/*margin-left: 100px;*/
	/*margin-left: auto;*/
	background-color: red;
	/*max-height: 50px;*/
	top: 00px;
	/*right: 90px;*/
	margin-right: auto;
	/*left: 50px;*/
}

.containerLeft {
	position: relative;
	width: 40%;
	/*margin-left: auto;*/
	background-color: red;
	/*max-height: 50px;*/
	top: 0px;
	/*right: 90px;*/
	/*margin-right: auto;*/
	/*left: 50px;*/
	/*margin-right: 10px;*/
}

.circleLeft {
	position: absolute;
	height: 25px;
	width: 25px;
	top: 31px;
	left: -3rem;
	z-index: 1;
	background-color: #bbb;
	border-radius: 50%;
}

.circleRight {
	position: absolute;
	height: 25px;
	width: 25px;
	top: 31px;
	right: -58px;
	justify-content: center;
	background-color: #93ccc6;
	border-radius: 50%;
	z-index: 1;
	/* text-align: center; */
	margin-right: 10px;
}

.timelineHeadline {
	text-align: center;
	font-size: 5em;
	color: black;
}

.rightTimeline {
	margin-left: auto;
}

.textboxTimeline {
	padding: 20px 30px;
	background-color: #e3dfba;
	box-shadow: 5px 10px #888888;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
	color: black;
}

.rightarrow {
	height: 0px;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #e3dfba;
	right: -13px;
}

.leftarrow {
	height: 0px;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #e3dfba;
	left: -13px;
}


#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	opacity: 0.4;
}

/* Slide3 de 0px a 768px */
@media (max-width:768px) {
	.textboxTimeline {
		/* display:none; */
		/* Temporal para visualizar mejor */
	}

	.timeline::after {
		position: absolute;
		content: '';
		height: 100%;
		width: 6px;
		top: 0;
		background-color: #1a1f1e;
		z-index: 0;
		left: 10%;
		margin-left: -3px;
	}

	.circleRight,
	.circleLeft {
		/* display:none; */

		left: 0;

	}

	.rightarrow {
		height: 0px;
		width: 0;
		position: absolute;
		top: 28px;
		z-index: 1;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-right: 15px solid #e3dfba;
		border-left: 0;
		left: -13px;
	}

}

.col-9.col-md.me-md-5.ms-5.ms-md-0 {

	/* Buscando la clase con ctrl+f podría ayudar */
	margin-top: 3rem;
}

.navbarButtom {
	overflow: hidden;
	/*background-color: #333;*/
	position: sticky;
	bottom: 10px;
	width: 100%;
	margin-left: auto;
	text-align: center;
	padding: 20px;

}

.navbarButtom a {
	/*float: left;*/
	/*display: block;*/
	color: #c8d6bf;
	border: 3px inset #c8d6bf;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 10px;
	margin-left: 10px;
}

@media(max-width:580px) {

	.navbarButtom a {
		display: block;
		margin-bottom: 10px;
	}

	.redesIcons {
		margin-top: 5.5rem;
	}

}

.navbarButtom a:hover {
	background: #f1f1f1;
	color: black;
}
